<a href="https://colab.research.google.com/github/Nikitha66678/Nikitha/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type
x=10
print(x)

10

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
sum=a+b+c
print("sum is:",sum)

sum is: 30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=123
b=7.23
c="Rishi"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=5
b=15
print("addition is:",a+b)
print("subtraction is:",a-b)
print("multiplication is:",a*b)
print("division is:",a/b)

addition is: 20
subtraction is: -10
multiplication is: 75
division is: 0.3333333333333333

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a="123"
b=int(a)
print("integer is",b)
c=float(a)
print("float is",c)

integer is 123
float is 123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
a="nikitha"
print("first character is",a[0])

first character is n

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
user_string="Rishi"
print("the length of the user_ string:",len(user_string))

the length of the user_ string: 5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
a="nikitha"
a.isalpha()

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
string1="sun"
string2="moon"
a=string1+string2
print("the concatenant of string is:",(a))

the concatenant of string is: sunmoon

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
text = "abc"
index = text.find("abc")
if index != -1:
    print(f"The substring 'abc' is found at index: {index}")
else:
    print("The substring 'abc' is not found in the string.")

The substring 'abc' is found at index: 0

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the strin
name="RISHI"
type(name)
print(name.lower())
print(name.upper())

rishi
RISHI

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
string="Nikitha"
character="k"
count=string.count(character)
print("count of the character:",count)

count of the character: 1

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
a="nikitha"
print(f"hello,{a},good morning!")

hello,nikitha,good morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=5
b=10
print("the sum is:",a+b)

the sum is: 15

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
a="nikitha"
b=20
print("the name is",a)
print("the age is",b)

the name is nikitha
the age is 20

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
number=-25
if number>0:
 print("number is positive")
elif number<0:
 print("number is negative")
else:
 print("number is zero")

number is negative

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1=int(input(" enter the first number"))
num2=int(input("enter the second number"))
num3=int( input("enter the third number"))
maximum_number=max(num1,num2,num3)
print("maximum number is ",maximum_number)

 enter the first number12
enter the second number25
enter the third number03
maximum number is  25

In [ ]:

# Write a Python program to check if a year is a leap year. (User input for the year)
year=2006
if(year%4==0):
 print("leap year")
else:
 print("not a leap year")

not a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
a=15
if a%3==0 and a%5==0:
 print("number is divisible by 3 and 5:",a)
else:
 print("number is not divisible by 3 and 5:",a)

number is divisible by 3 and 5: 15

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
a="madam"
if a==a[::-1]:
    print("a is a palindrome",a)
else:
    print("a is not a palindrome",a)

a is a palindrome madam

In [64]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a python program to print all even number from 1 to 20 using While loop.
number = 1
while number <= 20:
    if number % 2 == 0:
        print(number)
    number += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number = int(input("Enter a number: "))
print(f"Multiplication Table of {number}")
for i in range(1, 11):  # Loop from 1 to 10
    print(f"{number} x {i} = {number * i}")

Enter a number: 23
Multiplication Table of 23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a positive integer: "))

sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print(f"The sum of all numbers from 1 to {n} is {sum}")

Enter a positive integer: 45
The sum of all numbers from 1 to 45 is 1035

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
number = int(input("Enter a positive integer: "))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1
print(f"The factorial of {number} is {factorial}")

Enter a positive integer: 36
The factorial of 36 is 371993326789901217467999448150835200000000

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci sequence:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 35
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.

print("Prime numbers from 1 to 100:")

for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

Prime numbers from 1 to 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
numbers = [10, 20, 30, 40, 50, 60, 70, 80]
for num in numbers:
    if num > 50:
        print(f"Number greater than 50 found: {num}")
        break
    print(f"Checking number: {num}")

Checking number: 10
Checking number: 20
Checking number: 30
Checking number: 40
Checking number: 50
Number greater than 50 found: 60

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for num in range(1, 21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

text = input("Enter a string: ")
char = input("Enter the character to count: ")
count = 0
for c in text:
    if c == char:
        count += 1
print(f"The character '{char}' appears {count} times in the string.")

Enter a string: Payal
Enter the character to count: a
The character 'a' appears 2 times in the string.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10
print(f"The sum of the digits is {sum_of_digits}")

Enter a number: 19
The sum of the digits is 10

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [66]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print(total)

15

In [ ]:
# Write a Python program to find the largest element in a list.

numbers = [10, 20, 35, 50, 5]

largest = max(numbers)
print(f"The largest element in the list is {largest}")

The largest element in the list is 50

In [ ]:
# Write a Python program to reverse a list.

numbers = [1, 2, 3, 4, 5]
reversed_list = numbers[::-1]
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

numbers = [1, 2, 3, 4, 2, 5, 2]
element = 2

numbers = [num for num in numbers if num != element]
print("Updated list:", numbers)

Updated list: [1, 3, 4, 5]

In [ ]:
# Write a Python program to find the index of an element in a list.

numbers = [10, 20, 30, 40, 50]
element = 30
index = numbers.index(element)
print(f"The index of {element} is {index}")

The index of 30 is 2

In [ ]:
# Write a Python program to find if a specific element exists in a list.

numbers = [10, 20, 30, 40, 50]
element = 30
if element in numbers:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

30 exists in the list.

In [ ]:
# Write a Python program to remove duplicates from a list.

numbers = [1, 2, 3, 4, 2, 5, 3, 6]
unique_numbers = list(set(numbers))
print("List after removing duplicates:", unique_numbers)

List after removing duplicates: [1, 2, 3, 4, 5, 6]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
numbers = [1, 2, 3, 4, 2, 5, 2]
element = 2
count = numbers.count(element)
print(f"The element {element} appears {count} times in the list.")

The element 2 appears 3 times in the list.

In [ ]:
# Write a Python program to get the number of even numbers in a list.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
print(f"There are {even_count} even numbers in the list.")

There are 5 even numbers in the list.

In [ ]:
# Write a Python program to create a tuple and print it.

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print("Tuple converted to list:", my_list)
new_tuple = tuple(my_list)
print("List converted back to tuple:", new_tuple)

Tuple converted to list: [1, 2, 3, 4, 5]
List converted back to tuple: (1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to unpack a tuple into variables.

my_tuple = (1, 2, 3)
a, b, c = my_tuple
print("Unpacked values:", a, b, c)

Unpacked values: 1 2 3

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.

my_set = {1, 2, 3, 4, 5}
my_set.add(6)
if 3 in my_set:
    print("3 exists in the set.")
else:
    print("3 does not exist in the set.")
print("Updated set:", my_set)

3 exists in the set.
Updated set: {1, 2, 3, 4, 5, 6}

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
# Write a Python program to access a dictionary value using a key.
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
name = my_dict['name']
print("The name is:", name)

The name is: Alice

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
key = 'age'
if key in my_dict:
    print(f"The key '{key}' exists in the dictionary.")
else:
    print(f"The key '{key}' does not exist in the dictionary.")

The key 'age' exists in the dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'job': 'Engineer'}
merged_dict = {**dict1, **dict2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

In [ ]:
# Write a Python program to remove a key from a dictionary.
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
key_to_remove = 'age'
if key_to_remove in my_dict:
    del my_dict[key_to_remove]
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'Alice', 'city': 'New York'}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
num_keys = len(my_dict)
print("Number of keys in the dictionary:", num_keys)

Number of keys in the dictionary: 3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {'a': 10, 'b': 20, 'c': 5, 'd': 15}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Largest value: 20
Smallest value: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.
def square(number):
    return number ** 2
result = square(5)
print("The square of 5 is:", result)

The square of 5 is: 25

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(num1, num2):
    return num1 + num2
result = add_numbers(3, 4)
print("The sum is:", result)

The sum is: 7

In [42]:
#  Write a Python function to check if a given number is prime.
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

In [43]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [44]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exp):
    if exp == 0:
        return 1
    else:
        return base * power(base, exp - 1)

In [72]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    count = 0
    for item in lst:
        count += 1
    return count

In [70]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional(*args, **kwargs):
    total = sum(args)
    print("Sum of positional arguments:", total)

In [73]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def max_of_two(**kwargs):
    num1 = kwargs.get('num1')
    num2 = kwargs.get('num2')

    if num1 is None or num2 is None:
        return "Both numbers must be provided."

    return num1 if num1 > num2 else num2

In [69]:
# Write a Python function that accepts a list of numbers and returns their product.
def product_of_list(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

In [68]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [50]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [num for num in numbers if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [52]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["apple", "bat", "banana", "cherry", "kiwi", "orange"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'cherry', 'orange']

In [53]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
text = "Hello World! Python is FUN."
uppercase_letters = [char for char in text if char.isupper()]
print(uppercase_letters)

['H', 'W', 'P', 'F', 'U', 'N']

In [54]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(n):
    fib = [0, 1]
    [fib.append(fib[i-1] + fib[i-2]) for i in range(2, n)]
    return fib[:n]
n = 10
fib_numbers = fibonacci(n)
print(fib_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [55]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
squares_dict = {x: x**2 for x in range(1, 11)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [56]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]

dict_from_lists = {keys[i]: values[i] for i in range(len(keys))}
print(dict_from_lists)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [57]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes_dict = {x: x**3 for x in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [58]:
# Write a Python program to square each element of a list using the map() function.numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
# Write a Python program to filter all even numbers from a list using the filter() function.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [60]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
numbers = [15, 30, 12, 45, 10, 60]
divisible_by_3_and_5 = list(filter(lambda x: x % 3 == 0 and x % 5 == 0, numbers))
print(divisible_by_3_and_5)

[15, 30, 45, 60]

In [61]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [62]:
# Write a Python program to remove all occurrences of a specific element from a list.numbers = [1, 2, 3, 4, 3, 5, 3]
element_to_remove = 3
filtered_numbers = [x for x in numbers if x != element_to_remove]
print(filtered_numbers)

[1, 2, 4, 5]

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`